[submodule "PythonProjects"]
	path = PythonProjects
	url = https://github.com/Peraza32/PythonProjects.git
[submodule "C#/CSharpProjects"]
	path = "C#/CSharpProjects"
	url = https://github.com/Peraza32/CSharpProjects.git
